@import "tailwindcss";
/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    width: 100vw;
    height: 100vh;
}